<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title th:text="${title}"></title>
	</head>
	<body>
		<h1 th:text="${perfil}"></h1>
		<span th:text="${usuario.nombre}"></span>
		<span th:text="${usuario.apellido}"></span><br>
		
		<span th:if="${usuario.email}" th:text="${usuario.email}"></span><br>
		<span th:if="${usuario.email == null}">El usuario no tiene correo</span>
		
		<span th:if="${usuario.emailDos}" th:text="${usuario.emailDos}"></span><br>
		<span th:if="${usuario.emailDos == null}">El usuario no tiene segundo correo</span>
	</body>
</html>